<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>毕业设计 - 金亨陈</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style type=text/css></style>
		<!-- 버튼 구현 코드 -->

	</head>
	<body>
		  	<div class="header">
				<h1 align="center">人机混合的期货交易规律发现</h1>
				<h2 align="right">by 金亨陈</h2></br>
				<hr/>
			</div>
			<span class="anchor" id="line-14"></span>
			<div>
				<p>输入x ：<input type="text" id="x_no"></p>
				<p>输入y ：<input type="text" id="y_no"></p>
				<p><button class="btn" id="paint_xy">画出坐标轴</button></p>
			</div>
			<div id="Paint">
			</div>
			
			<script>
				var btn = document.querySelector('.btn')
				var x = document.getElementById('x_no')
				var y = document.getElementById('y_no')
				function btn_click(){
					var tag = "<table border='1'>";
		      		var x_v = parseInt(x.value);
			    	var y_v = parseInt(y.value);
			    		for (j = 1; j <= x_v; j++) {
			        		tag += "<tr>";
		        				for (i = 1; i <= y_v; i++) {
		          					tag += "<td>"+j+"."+i+"</td>";}
		       		 		tag += "</tr>";}
		      			tag += "</table>";
		      				Paint.innerHTML = tag;
				}
				btn.addEventListener('click',btn_click);
			</script> 
	</body>
</html>
