<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>毕业设计 - 金亨陈</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style type=text/css></style>
		<!-- 버튼 구현 코드 -->

	</head>
	<body>
		  	<div class="header">
				<h1 align="center">人机混合的期货交易规律发现</h1>
				<h2 align="right">by 金亨陈</h2></br>
				<hr/>
			</div>
			<span class="anchor" id="line-14"></span>
			<div>
				<p>输入x ：<input type="text" id="x_no"></p>
				<p>输入y ：<input type="text" id="y_no"></p>
				<p><button type="button" id="paint_xy">画出坐标轴</button></p>
			</div>
			<script type="text/javascript">
			$('#paint_xy').on("click", function () {
				var x = document.getElementById('x_no');
				var y = document.getElementById('y_no');
				document.write(x,y);
			});
		</script> 
	</body>
</html>
