<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>毕业设计 - 金亨陈</title>
		<style type=text/css>
		</style> 
</head>
<body>
  	<div class="header">
		<h1 align="center">金融数据分析的人机混合智能方法研究</h1>
		<h2 align="right">by 金亨陈</h2></br>
		<hr/>
	</div>
	<span class="anchor" id="line-14"></span>
	<div class="body">
		<h2 align="left">项目查询（输入项目号）</h2>
			<input type="text" title="输入项目" maxlength="255" class="input_text" tabindex="1" accesskey="s" style="ime-mode:active;" onclick="document.getElementById('fbm').value=1;" value=""><button>查询</button>
		<h2 align="left">当前价格</h2>
			<input type="label">
		<h2 align="left">数据选项(选出三种）</h2>
		    <input type="checkbox" name="chk_info" value="1">成交量
			<input type="checkbox" name="chk_info" value="2">移动平均线
			<input type="checkbox" name="chk_info" value="3">3<br/>
			<input type="checkbox" name="chk_info" value="4">4
			<input type="checkbox" name="chk_info" value="5">5
			<input type="checkbox" name="chk_info" value="6">6<br/>
			<input type="checkbox" name="chk_info" value="7">7
			<input type="checkbox" name="chk_info" value="8">8
			<input type="checkbox" name="chk_info" value="9">9<br/>
			<button>开始计算</button><br/>
			计算结果<input type="label">
	</div>
</body>
</html>